/* rest css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header_content nav ul li {
  display: inline;
  font-size: 17px;
  text-transform: uppercase;
  margin-right: 25px;
}

header {
  padding: 20px 0;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

header .header_content a {
  text-decoration: none;
  color: white;
  /* thời gian chuyển đổi màu chữ  */
  transition: all 0.5s;
}

header .header_logo {
  font-size: 32px;
}

header nav ul li .active {
  color: red;
}

/* đưa chuột vào hiện thị màu khác  */
header nav li a:hover {
  color: red;
}

/* .flex_container {
  background-color: rgb(130, 120, 120);
  height: 100vh; */
/* khi sử dụng flex sẽ có 2 trục là trục chính ( mặc định ban đầu là trục ngang ) và trục phụ ( mặc định ban đầu là trục dọc ) */
/* display: flex; */
/* thuộc tính điều chỉnh các phần tử dựa trên trục chính  */
/* justify-content: center;  */
/* justify-content: space-between; */
/* justify-content: flex-end; */
/* justify-content: space-around; */
/* justify-content: space-evenly; */
/* thuộc tính điều chỉnh các phần tử theo chiều dọc ( trục phụ)  */
/* align-items: flex-end; */
/* align-items: center; */
/* align-items: flex-start; */
/* thay đổi trục chính của flex box  */
/* flex-direction: row-reverse */
/* flex-direction: column; */
/* flex-direction: column-reverse; */
/* }    */

/* .flex_item1 {
  width: 200px;
  height: 200px;
  background-color: red;
}
.flex_item2 {
  width: 200px;
  height: 200px;
  background-color: blue;
} */

/* BANNER  */

.banner {
  background-image: url(./../image/home_slider.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Cách dùng flex box để canh giữ nội dung theo chiều ngang và dọc  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.banner .banner_subTitle {
  font-size: 25px;
}

.banner h1 {
  font-size: 75px;
  line-height: 90px;
  margin: 10px 0;
}

.banner button {
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #e62b4a;
  border: 2px solid #e62b4a;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 50px;
}

.banner .banner_subTitle i {
  margin-top: 50px;
}

.banner button:hover {
  background-color: #af2238;
}

/* SERVICE  */

.service {
  background-color: black;
  color: white;
  padding: 50px 0;
}

.service .item_bg {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 250px;
  position: relative;
}

.service .service_item {
  padding: 0 15px;
}

.service .slick-dots li button:before {
  font-size: 15px;
  color: white;
  opacity: 0.5;
}

.service .slick-dots li.slick-active button:before {
  color: red;
}

.demo_before_after {
  padding: 50px 0;
  background-color: blue;
  position: relative;
}

/* demo class before_after  */
.demo_before_after::before {
  /* color:red */
  background-color: red;
  /* width: 150px;
  height: 150px; */
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service .service_item .item_bg::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 7px;
  background-color: #e62b4a;
}

.service .service_item .item_bg:hover::before {
  height: 100%;
  transition: all 0.5s;
}

.service .service_title {
  text-align: center;
  padding: 50px 0 50px;
}

.service .service_title span {
  color: #e62b4a;
  font-size: 14px;
}

.service .service_title h2 {
  font-size: 50px;
  font-weight: 400;
}

.service .service_title .title2 {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}

/* css blog  */

.blog {
  padding: 100px 0;
  background-color: #f3f3f3;
}

.blog_title {
  text-align: center;
}

.blog .blog_title .blog_title_1 {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
}

.blog_title h2 {
  font-size: 50px;
  font-weight: 400;
}

.blog .blog_title .blog_title_2 {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
}

.blog .blog_content {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.blog .blog_content .blog_item img {
  width: 100%;
  height: 100%;
  /* tăng tỉ lệ tấm hình  */
  object-fit: cover;
  filter: grayscale(40%) contrast(40%);
}

.blog .blog_item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog .blog_item:last-child {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blog .blog_content .blog_item {
  position: relative;
  overflow: hidden;
}

.blog .blog_item .overlay {
  position: absolute;
  background-color: #e62b4a4c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  opacity: 0;
  transition: all 0.7s;
}

.blog .blog_item:hover .overlay {
  opacity: 1;
}

.blog .blog_item .overlay .overlay_icon {
  text-align: right;
}

.blog .blog_item .overlay .overlay_icon i {
  background-color: white;
  padding: 15px;
  /* transform: translate(50px,-50px); */
  /* tăng kích thước kính lúp  */
  transform: scale(0.5);
  /* xoay kính lúp  */
  transform: translateY(30px) rotate(45deg);
  transition: all 0.5s;
}

.blog .blog_item:hover .overlay_icon i {
  transform: translateY(0px) rotate(45deg);
  color: black;
}

.blog .blog_item .overlay_text {
  transform: translateY(80px);
  transition: all 0.5s;
}

.blog .blog_item .overlay span {
  color: white;
}

.blog .blog_item .overlay h3 {
  color: white;
}

/* NUMBER  */

.number {
  padding: 50px 0;
  background-color: black;
  color: white;
}

.number .number_content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.number .number_content p {
  font-size: 60px;
}

/* DIGITAL  */

.digital {
  /* background-color: black; */
  background-image: url(./../image/bussiness_img_1.jpg);
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* cố định hình  */
  background-attachment: fixed;
}

/* CONTACT  */

.contact {
  padding: 100px 0;
}

.contact_title {
  text-align: center;
  
}

.contact_title h2 {
  font-size: 50px;
  font-weight: 400;
}

.contact_title p {
  color: #888888;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

.contact_content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.content_right input {
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}

.content_right textarea {
  /* margin-bottom: 30px; */
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}

.content_left iframe {
  width: 100%;
}

.content_left {
  width: 60%;
}
.content_right {
  width: 40%;
}


.contact_button {
  padding: 20px 30px;
  text-align: center;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}

.contact_button:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

/* FOOTER  */

footer {
  background-color: #000;
}

.footer_content {
  padding: 100px 0;
  display: flex;
  justify-content:space-between ;
  align-items: center;
}

.footer_content p {
  color:white;
}

.footer_content i {
  color:white;
}

.footer_content a:hover{
  background-color: #e62b4a;
}

.footer_icon a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all .5s;
}


